.main-layout {
	height: 100vh;
}

.page {
	padding: 1rem 5rem 2rem 10%;
	height: 95vh;
	width: 100%;
}

.pushable {
	height: 100vh;
}

.pusher > div {
	position: absolute;
	
	width: 100%;
	margin-left: 5%;
}