DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=root
DB_DIALECT=postgres
DB_NAME_TEST=KPIS
DB_NAME_DEVELOPMENT=KPIS
DB_NAME_PRODUCTION=KPIS
JWTKEY=jwt_key
TOKEN_EXPIRATION=48h
BEARER=Bearer
NODE_ENV=Development
PORT=5000